<!DOCTYPE html>
<html ng-app="app">
<head lang="en">
    <meta charset="UTF-8">
    <title>Word Puzzle Game</title>
    <link rel="stylesheet" href="../vendor/bootstrap/dist/css/bootstrap.min.css"/>
</head>
<body>
<header class="navbar">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">Word Puzzle Game</a>
        </div>
    </div>
</header>

<div class="container" ng-controller="MainController as main">

    <h1 class="page-header">Welcome to Word Puzzle Game!
        <small>The game where you guess a hidden word.</small>
    </h1>

    <div class="row" ng-hide="main.hideWelcome">
        <div class="col-md-8">


            <div class="panel panel-primary">

                <div class="panel-heading">
                    Follow next rules:
                </div>

                <div class="panel-body">
                    <ul>
                        <li>Using input below type one character. You have as many attempts as
                            number of * signs
                        </li>
                        <li>If that letter exist we'll replace * sign with it.</li>
                        <li>We will count all attempts whether it was success or fail.</li>
                        <li>You can give up by pressing button 'Give Up'. In this case you will
                            lose
                            the game and word will appear.
                        </li>
                    </ul>
                </div>

            </div>

        </div>

        <div class="col-md-4">
            <div class="well-lg text-center">
                <a class="btn btn-lg btn-success" href="#start" ng-click="main.startGame(true)">Start the Game!</a>
            </div>
        </div>

    </div>


    <div ng-show="main.showGame" ng-controller="GameController as game">

        <div class="row">

            <div class="col-md-7">
                <div class="well well-lg text-center text-capitalize text-success">
                    <h1 class="result">{{ game.currentWord | uppercase }}</h1>
                </div>
            </div>
            <div class="col-md-5">
                <div class="stats text-right">
                    <small>
                        <ng-pluralize count="game.attempts"
                                      when="{'0': 'No attempts are left', 'one': 'You have only 1 attempt', 'other': 'You have {} attempts left' }"></ng-pluralize>
                    </small>
                    <br/>
                    <small>Typed chars:</small>
                    <b ng-repeat="letter in game.enteredLetters">
                        {{letter}}
                    </b>
                </div>

            </div>
        </div>

        <div class="row">
            <div class="col-md-7">

                <input type="text" class="form-control input-lg" ng-hide="game.gameOver" placeholder="Type a char here" ng-model="game.guessLetter" ng-minlength="1" ng-maxlength="1" maxlength="1"
                       ng-keyup="game.setGuessLetter($event)" ng-focus="game.resetGuessInput()"/>

                <div class="alert" ng-class="{'alert-success': game.win, 'alert-danger': !game.win}" ng-show="game.gameOver">{{game.finalMessage}} It's "{{game.guessWord | uppercase}}"!</div>

            </div>
            <div class="col-md-5">
                <a class="btn btn-danger btn-sm pull-right" href="#giveup" ng-click="game.endGame()">Give Up</a>
            </div>
        </div>

    </div>


</div>
<script src="../vendor/angular/angular.min.js"></script>
<script src="app/app.js"></script>
</body>
</html>